# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Data & runtime
data/
*.db
*.log

# Docker
*.dockerignore

# IDE / editor
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Environment
.env
